<h1>Administration</h1>


<h2>Connexion à l'API en ligne de commande</h2>

<h3>En utilisant le token courant</h3>

<p>L'API est accessible en ligne de commande, avec la commande <a href="https://curl.se/docs/manpage.html">curl</a>,
en vous authentifiant avec le token d'authentification ci-dessous (valable uniquement pour votre session en cours) :</p>

<pre>
{{token}}
</pre>

<h3>En créant un nouveau token</h3>

<p>Vous pouvez également créer un nouveau token :</p>

<pre><samp>
$ curl \
-d identifiant='utilisatrice01' \
-d mdp='********' \
-X POST {{urlApi}}/connexion
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOjczLCJleHAiOjE2MDYwODM0MjIsImFkbSI6dHJ1ZX0.UTliyT--bAJfOxMTL2i1w_ufhRwhVW8ExjW3Z2XMiDHuT5d16lx7fhFapvUBy8sIEUoN9Y7iIWCUoZXm7hJUNjlikq5u6jBQjnqUvophLwmP1cJAk6Mqwtnzncc2yuGjDNeB0_7VrcoyyZxUiPxtuE_Kr6bABQ7AoUyMJDxufxA",
  "utilisateur": {{'{'}}
    "id": {{idUtilisateur}},
    "nom": "Alice",
    "estAdmin": true
  }
}
</samp></pre>


<h2>Utilisateurs</h2>

<h3>Lister les utilisateurs</h3>

<pre><samp>
curl -u {{token}}: \
{{urlApi}}/utilisateur
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
[
  {{'{'}}
    "estAdmin": true,
    "genre": "M",
    "id": {{idUtilisateur}},
    "identifiant": "admin",
    "nom": "Administrateur"
  }
]
</samp></pre>

<h3>Créer un nouvel utilisateur</h3>

<pre><samp>
$ curl -u {{token}}: \
-d identifiant='utilisatrice01' \
-d nom='Utilisatrice 1' \
-d genre=F \
-d estAdmin=0 \
-X POST {{urlApi}}/utilisateur
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "estAdmin": false,
  "genre": "F",
  "id": 71,
  "identifiant": "utilisatrice01",
  "mdp": "G@x3Pjke",
  "nom": "Utilisatrice 1"
}
</samp></pre>

<div class="alert alert-primary" role="alert">
  Note : le mot de passe est généré automatiquement et fourni dans la réponse,
  et ne sera plus fourni par la suite (même à un administrateur).
</div>

<h3>Afficher un utilisateur</h3>

<pre><samp>
curl -u {{token}}: \
{{urlApi}}/utilisateur/{{idUtilisateur}}
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "estAdmin": true,
  "genre": "M",
  "id": 70,
  "identifiant": "admin",
  "nom": "Administrateur"
}
</samp></pre>

<h3>Modifier un utilisateur</h3>

<pre><samp>
curl -u {{token}}: \
-d identifiant='admin2' \
-d mdp='Akjunz12' \
-d nom='Administrateur 2' \
-d genre=M \
-d estAdmin=1 \
-X PUT {{urlApi}}/utilisateur/{{idUtilisateur}}
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "estAdmin": true,
  "genre": "M",
  "id": {{idUtilisateur}},
  "identifiant": "admin2",
  "nom": "Administrateur 2"
}
</samp></pre>

<div class="alert alert-primary" role="alert">
  Note 1 : tous les champs en entrée sont facultatifs.
</div>

<div class="alert alert-primary" role="alert">
  Note 2 : même un administrateur ne peut pas modifier le mot de passe d'un autre utilisateur.
</div>

<h3>Réinitialiser le mot de passe d'un utilisateur</h3>

<pre><samp>
$ curl -u {{token}}: \
-X POST {{urlApi}}/utilisateur/{{idUtilisateur}}/reinitmdp
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "estAdmin": false,
  "genre": "F",
  "id": 71,
  "identifiant": "utilisatrice01",
  "mdp": "G@x3Pjke",
  "nom": "Utilisatrice 1"
}
</samp></pre>

<div class="alert alert-primary" role="alert">
  Note : comme lors de la création d'un nouvel utilisateur,
  le mot de passe est généré automatiquement et fourni dans la réponse,
  et ne sera plus fourni par la suite (même à un administrateur).
</div>


<h2>Occasions</h2>

<h3>Lister les occasions</h3>

<pre><samp>
curl -u {{token}}: \
{{urlApi}}/occasion
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
[
  {{'{'}}
    "id": 5,
    "titre": "No\u00ebl 2019"
  },
  {{'{'}}
    "id": 6,
    "titre": "No\u00ebl 2020"
  }
]
</samp></pre>

<h3>Créer une nouvelle occasion</h3>

<pre><samp>
$ curl -u {{token}}: \
-d titre='Nouvelle occasion' \
-X POST {{urlApi}}/occasion
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "id": 7,
  "titre": "Nouvelle occasion"
}
</samp></pre>

<h3>Afficher une occasion</h3>

<pre><samp>
curl -u {{token}}: \
{{urlApi}}/occasion/6
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "id": 6,
  "titre": "No\u00ebl 2020",
  "participants": [
    {{'{'}}
      "genre": "F",
      "id": 83,
      "nom": "Alice"
    },
    {{'{'}}
      "genre": "M",
      "id": 84,
      "nom": "Bob"
    },
    {{'{'}}
      "genre": "M",
      "id": 85,
      "nom": "Charlie"
    }
  ],
  "resultats": [
    {{'{'}}
      "idQuiOffre": 84,
      "idQuiRecoit": 83
    },
    {{'{'}}
      "idQuiOffre": 85,
      "idQuiRecoit": 84
    },
    {{'{'}}
      "idQuiOffre": 83,
      "idQuiRecoit": 85
    }
  ]
}
</samp></pre>

<h3>Modifier une occasion</h3>

<pre><samp>
curl -u {{token}}: \
-d titre='Titre modifié' \
-X PUT {{urlApi}}/occasion/7
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "id": 7,
  "titre": "Titre modifi\u00e9"
}
</samp></pre>

<div class="alert alert-primary" role="alert">
  Note : cette route ne permet pas de modifier les participants ou les résultats du tirage (voir plus bas).
</div>

<h3>Ajouter un participant à une occasion</h3>

<pre><samp>
curl -u {{token}}: \
-d idParticipant={{idUtilisateur}} \
-X POST {{urlApi}}/occasion/7/participation
</samp></pre>

<p>Renvoie :</p>

<pre><samp>
{{'{'}}
  "genre": "F",
  "id": 83,
  "nom": "Alice"
}
</samp></pre>
