@if (idee && utilisateurConnecte) {
  <div class="card-header">
    @if (afficheAuteur) {
      <span class="auteur">{{
        idee.auteur.id === utilisateurConnecte.id ? "Vous" : idee.auteur.nom
      }}</span>
    }
    le {{ datePropositionFormatee }}
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ idee.description }}</h3>
    @if (idee.auteur.id === utilisateurConnecte.id) {
      <button
        (click)="onSupprime()"
        [disabled]="isDeleting"
        class="btn btn-danger btnSupprimer"
      >
        Supprimer
      </button>
    }
  </div>
}
