<ng-container *ngIf="tirage$|async as tirage">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>{{tirage.titre}}</h1>
    <small class="text-muted" *ngIf="sousTitre">{{tirage.date}}</small>
  </div>

  <ng-container *ngIf="tirage.estOrganisateur">
    <div class="alert alert-success" role="success">
      <i-feather name="clipboard"></i-feather>
      Vous organisez ce tirage.
    </div>
  </ng-container>
  
  <ng-container *ngIf="!tirage.lance">
    <div class="alert alert-warning" role="warning">
      <i-feather name="alert-triangle"></i-feather>
      <span class="sr-only">Attention :</span>
      Le tirage au sort n'a pas encore été lancé !
    </div>
  </ng-container>

  <p>Participants :</p>

  <div class="card-deck">
    <app-participant *ngFor="let participant of tirage.participants" [participant]="participant">
    </app-participant>
  </div>
</ng-container>
