<!-- TODO: changer l'icône Angular -->
<!-- TODO: mettre en forme l'application (bootstrap) -->
<h1 [routerLink]="['/']">Tkdo</h1>

<div *ngIf="erreurBackend$ | async as erreurBackend" class="alert alert-danger">Le serveur a répondu : "{{erreurBackend}}"</div>

<button *ngIf="estConnecte$ | async" (click)="toggleMenu()">{{ menuOuvert ? 'Fermer' : 'Menu' }}</button>

<ng-container *ngIf="menuOuvert; then menu else routeur"></ng-container>
<ng-template #menu><app-menu></app-menu></ng-template>
<ng-template #routeur><router-outlet></router-outlet></ng-template>

<p class="credits"><a href="https://github.com/mleguen/tkdo">Maël Le Guen 2020</a></p>