<ng-container *ngIf="params$|async as params">
  <app-bandeau-titre titre="{{params.organisateur ? 'Les tirages que j\'organise' : 'Les tirages auxquels je participe'}}"></app-bandeau-titre>
  
  <ng-container *ngIf="tiragesAVenir$|async as tirages">
    <h3>Tirages à venir</h3>
    <div class="card-deck">
      <app-tirage-resume *ngFor="let tirage of tirages" [tirage]="tirage"
        [idUtilisateur]="params.idUtilisateur"></app-tirage-resume>
    </div>
  </ng-container>
  
  <ng-container *ngIf="tiragesPasses$|async as tirages">
    <h3>Tirages passés</h3>
    <div class="card-deck">
      <app-tirage-resume *ngFor="let tirage of tirages" [tirage]="tirage"
        [idUtilisateur]="params.idUtilisateur"></app-tirage-resume>
    </div>
  </ng-container>
</ng-container>
