<ng-container *ngIf="occasion$|async as o; else elsePasDOccasion">
  <h1>{{o.titre}}</h1>
  
  <!-- <h2>Participants</h2> -->
  <div class="container">
    <div class="row justify-content-center">
      <div *ngFor="let p of o.participants"
        class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card"
          [ngClass]="{
            'bg-primary': p.estQuiRecoitDeMoi,
            'bg-muted': p.estMoi,
            'bg-secondary': !p.estMoi && !p.estQuiRecoitDeMoi,
            'text-white': !p.estMoi,
            estMoi: p.estMoi,
            estQuiRecoitDeMoi: p.estQuiRecoitDeMoi
          }"
          [routerLink]="['/liste-idees', p.id]">
          <div class="card-body">
            <h3 class="card-title">{{p.nom}}</h3>
            <div class="card-text" *ngIf="p.estMoi">C'est vous !</div>
            <div class="card-text" *ngIf="p.estQuiRecoitDeMoi">
              C'est à
              <ng-container *ngIf="p.genre === Genre.Feminin">elle</ng-container>
              <ng-container *ngIf="p.genre === Genre.Masculin">lui</ng-container>
              que vous faites un cadeau.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elsePasDOccasion>
  <ng-container *ngIf="aucuneOccasion$|async">
    <h1>Aucune occasion</h1>
    <p class="alert alert-warning col-12">Vous ne participez pour l'instant à aucun tirage cadeaux.</p>
    <p>Rapprochez-vous de l'organisateur d'un tirage pour lui demander de vous y faire participer.</p>
  </ng-container>
</ng-template>
