<ng-container *ngIf="occasion$|async as o">
  <h1>{{o.titre}}</h1>
  
  <!-- TODO : participer au tirage si j'y ai été invité (fragment ?) et s'il n'est pas encore lancé -->
  <!-- TODO : ne voir les participants d'un tirage que si j'y participe moi-même -->
  
  <!-- <h2>Participants</h2> -->
  <div class="container">
    <div class="row">
      <div *ngFor="let p of o.participants"
        class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card text-white"
          [ngClass]="{
            'bg-success': p.estQuiRecoitDeMoi,
            'bg-danger': p.estMoi,
            'bg-dark': !p.estMoi && !p.estQuiRecoitDeMoi,
            estMoi: p.estMoi,
            estQuiRecoitDeMoi: p.estQuiRecoitDeMoi
          }"
          [routerLink]="['/liste-idees', p.id]">
          <div class="card-body">
            <h3 class="card-title">{{p.nom}}</h3>
            <div class="card-text" *ngIf="p.estMoi">C'est vous !</div>
            <div class="card-text" *ngIf="p.estQuiRecoitDeMoi">C'est à elle/lui que vous faites un cadeau.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
