<h2>Connexion</h2>

<!-- TODO : créer mon compte si je n'en ai pas -->

<form [formGroup]="formConnexion" (ngSubmit)="connecte()">
  <p>
    <label>
      Identifiant :
      <input type="text" formControlName="identifiant">
    </label>
  </p>
  <p>
    <label>
      Mot de passe :
      <input type="password" formControlName="mdp">
    </label>
  </p>  

  <div *ngIf="erreurConnexion" class="alert alert-danger">{{erreurConnexion}}</div>
  <button class="button" type="submit" [disabled]="!formConnexion.valid">Se connecter</button>
</form>

