<!-- Inspiré de https://getbootstrap.com/docs/4.5/examples/starter-template/ -->

<app-header></app-header>

<main role="main" class="container">

  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="erreurBackend$ | async as erreurBackend" class="alert alert-danger">
    Le serveur a répondu : "{{erreurBackend}}"
  </div>

  <div class="credits fixed-bottom">
    Powered by <a href="https://github.com/mleguen/tkdo">tkdo</a>
    -
    <a href="https://github.com/mleguen/tkdo/issues">Signaler une anomalie</a>
  </div>
</main>
