<ng-container *ngIf="tirage$|async as tirage">
  <app-bandeau-titre [titre]="tirage.titre" [sousTitre]="tirage.date"></app-bandeau-titre>
  
  <ng-container *ngIf="tirage.statut === 'CREE'">
    <div class="alert alert-warning" role="warning">
      <i-feather name="alert-triangle"></i-feather>
      <span class="sr-only">Attention :</span>
      Le tirage au sort n'a pas encore été lancé
    </div>
  </ng-container>

  <div class="card-deck">
    <!-- TODO: rendre la carte spécifique au PARTICIPANT d'un tirage (et plus générique à un UTILISATEUR) :
    - elle gère elle-même son icône et son style selon que c'est un participant lambda ou celui à qui l'utilisateur offre
    - elle ajoute un texte "vous aurez le plaisir de lui offrir un cadeau"
    -->
    <app-utilisateur-tirage-participant-card *ngFor="let participant of tirage.participants" [utilisateur]="participant"
      [ngClass]="{
        'utilisateur-connecte': participant.id === (idUtilisateur$|async),
        'text-white': !!participant.aQuiOffrir,
        'bg-success': !!participant.aQuiOffrir
      }"
      [featherName]="participant.aQuiOffrir ? 'gift' : 'user'">
    </app-utilisateur-tirage-participant-card>
  </div>

</ng-container>
