<ng-container *ngIf="listeIdees$|async as li">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <h1 [ngSwitch]="li.estPourMoi" class="col-10">
        <ng-container *ngSwitchCase="true">Ma liste d'idées</ng-container>
        <ng-container *ngSwitchDefault>Liste d'idées pour {{li.utilisateur.nom}}</ng-container>
      </h1>
      <div class="col-auto">
        <button (click)="actualise()" class="btn btn-secondary">Actualiser</button>
      </div>
    </div>

    <div class="row" *ngIf="li.idees.length > 0">
      <div class="col-12">
        <h2 *ngIf="!li.estPourMoi">
          Proposées par {{li.utilisateur.nom}}
          <ng-container [ngSwitch]="li.utilisateur.genre">
            <ng-container *ngSwitchCase="Genre.Feminin">elle-même</ng-container>
            <ng-container *ngSwitchCase="Genre.Masculin">lui-même</ng-container>
          </ng-container>
        </h2>
        <div class="card-columns">
          <div *ngFor="let i of li.idees" class="card">
            <div class="card-header">Le {{i.dateProposition}}</div>
            <div class="card-body">
              <h3 class="card-title">{{i.description}}</h3>
              <button *ngIf="i.estDeMoi" (click)="supprime(i.id)" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" *ngIf="(!li.estPourMoi) && (li.autresIdees.length > 0)">
      <div class="col-12">
        <h2>Proposées par d'autres utilisateurs que {{li.utilisateur.nom}}</h2>
        <div class="alert alert-warning col-12" role="alert">
          {{li.utilisateur.nom}} ne peut pas voir ces idées
        </div>
        <div class="card-columns">
          <div *ngFor="let i of li.autresIdees" class="card">
            <div class="card-header"><span class="auteur">{{i.estDeMoi ? 'Vous' : i.auteur.nom}}</span> le {{i.dateProposition}}</div>
            <div class="card-body">
              <h3 class="card-title">{{i.description}}</h3>
              <button *ngIf="i.estDeMoi" (click)="supprime(i.id)" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formAjout" (ngSubmit)="ajoute()">
          <div class="form-group">
            <label for="description">Nouvelle idée :</label>
            <input id="description" type="text" formControlName="description" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!formAjout.valid">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="erreurAjoutSuppression" class="alert alert-danger">{{erreurAjoutSuppression}}</div>
