<ng-container *ngIf="listeIdees$|async as li">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <h1 class="col-10">
        Idées
        <span class="pourQui">
          pour {{li.utilisateur.nom}}
          <span *ngIf="li.estPourMoi" class="text-muted">(c'est vous !)</span>
        </span>
      </h1>
      <div class="col-auto">
        <button (click)="actualise()" class="btn btn-secondary">Actualiser</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="alert alert-warning col-12" role="alert">
        <span *ngIf="li.estPourMoi; else estPasMoi">Vous ne pouvez voir que les idées que vous proposez vous-même.</span>
        <ng-template #estPasMoi>{{li.utilisateur.nom}} ne peut pas voir les idées que vous proposez.</ng-template>
      </div>
    </div>    

    <div class="row">
      <div class="col-12">
        <div class="card-columns">
          <div *ngFor="let i of li.idees" class="card">
            <div class="card-header"><span class="auteur">{{i.estDeMoi ? 'Vous' : i.auteur.nom}}</span> le {{i.dateProposition}}</div>
            <div class="card-body">
              <h3 class="card-title">{{i.description}}</h3>
              <button *ngIf="i.estDeMoi" (click)="supprime(i.id)" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formAjout" (ngSubmit)="ajoute()">
          <div class="form-group">
            <label for="description">Nouvelle idée :</label>
            <input id="description" type="text" formControlName="description" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!formAjout.valid">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="erreurAjoutSuppression" class="alert alert-danger">{{erreurAjoutSuppression}}</div>
