/* You can add global styles to this file, and also import other style files */
.alert::first-letter {
  text-transform: uppercase;
}

// Inspiré de https://getbootstrap.com/docs/4.5/examples/starter-template/

body {
  padding-top: 5rem;
}

[ng-reflect-router-link] {
  cursor: pointer;
}
