/* You can add global styles to this file, and also import other style files */
.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.alert::first-letter {
  text-transform: uppercase;
}
