<h1>Mon profil</h1>

<form [formGroup]="formProfil" (ngSubmit)="modifie()">
  <div class="form-group">
    <label for="nom">Nom :</label>
    <input id="nom" type="text" formControlName="nom" class="form-control" />
    <div *ngIf="nom.errors?.['minlength']" class="alert alert-danger">
      Le nom doit avoir une longueur d'au moins 3 caractères.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email :</label>
    <input
      id="email"
      type="text"
      formControlName="email"
      class="form-control"
    />
    <div *ngIf="email.errors?.['email']" class="alert alert-danger">
      E-mail invalide.
    </div>
  </div>

  <div class="form-group">
    <label for="genre">Genre :</label>
    <select id="genre" formControlName="genre" class="form-control">
      <option value="{{ Genre.Feminin }}">Féminin</option>
      <option value="{{ Genre.Masculin }}">Masculin</option>
    </select>
  </div>

  <div class="form-group">
    <label for="prefNotifIdees"
      >Préférences de notification (création/suppression d'idées) :</label
    >
    <select
      id="prefNotifIdees"
      formControlName="prefNotifIdees"
      class="form-control"
    >
      <option value="{{ PrefNotifIdees.Aucune }}">Aucune</option>
      <option value="{{ PrefNotifIdees.Instantanee }}">Instantanée</option>
      <option value="{{ PrefNotifIdees.Quotidienne }}">Quotidienne</option>
    </select>
  </div>

  <div class="form-group">
    <label for="identifiant">Identifiant :</label>
    <input
      id="identifiant"
      type="text"
      readonly
      formControlName="identifiant"
      class="form-control"
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="mdp">Nouveau mot de passe :</label>
      <input
        id="mdp"
        type="password"
        formControlName="mdp"
        autocomplete="off"
        class="form-control"
      />
      <div *ngIf="mdp.errors?.['minlength']" class="alert alert-danger">
        Le nouveau mot de passe doit avoir une longueur d'au moins 8 caractères.
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="confirmeMdp">Confirmer le nouveau mot de passe :</label>
      <input
        id="confirmeMdp"
        type="password"
        formControlName="confirmeMdp"
        autocomplete="off"
        class="form-control"
      />
      <div
        *ngIf="formProfil.errors?.['sameValueIfDefined']"
        class="alert alert-danger"
      >
        Les 2 mots de passe doivent être identiques.
      </div>
    </div>
  </div>

  <div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!formProfil.valid"
    >
      Modifier
    </button>
  </div>
</form>

<div *ngIf="enregistre" class="alert alert-success feedback">
  Votre profil a été enregistré.
</div>
<div *ngIf="erreurModification" class="alert alert-danger feedback">
  {{ erreurModification }}
</div>
