[ req ]
default_bits       = 1024
distinguished_name = req_noms_distingues
prompt             = no

[ req_noms_distingues ]
C            = FR
ST           = Département
L            = Localité
O            = Nom de l'organisation
OU           = Tkdo 
CN           = localhost
emailAddress = admin@localhost
